# Ignore prior jekyll 
_jekyll_old/

# annoying xlsx lockfile 
~$*.xlsx 

# ignore jake's log
_log/

# quarto ignores 
/.quarto/
**/*.quarto_ipynb

# ignore build, copy-paste into `docs/` to pub, 
_book/

# ignore intermediate build files, e.g. typst: 
*.typ

# ignore prior/unmerged:
htmsmaa/

# ignore anything in a 'raw' subfolder, 
# to stash e.g. big images / unedited or uncompressed video in a _raw folder 
*raw/